/*
The CSS code gets to executed from top to bottom and left to right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    width: auto;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #5a5c51;
    background-image: url(https://github.com/jgmil/my-next-book-api-capstone/blob/master/website-images/Cover-Book-Pages-Bookstore-Open-Book-Textbook-1614230.jpg?raw=true);
    color: white;
    margin: auto;
    line-height: 1.6;
    font-size: 20px;
    background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://github.com/jgmil/my-next-book-api-capstone/blob/master/website-images/Cover-Book-Pages-Bookstore-Open-Book-Textbook-1614230.jpg?raw=true);
}

h1,
h2 {
    font-family: 'Trirong', serif;
    font-weight: bold;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
    background-color: #5a5c51;
    padding: 15px;
}

h1 {
    font-size: 60px;
}

button,
input {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #5a5c51;
    border-radius: 3px;

}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

button {
    text-align: center;
    font-weight: bold;
    margin: 15px auto 0;
    background-color: #1d2120;
    color: white;
    padding: 15px;
}

a:link {
    color: #bcd5d1;
}

a:visited {
    color: #D5D1BC;
}

p {
    padding: 10px 0;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

li {
    margin-right: 15px;
    margin-bottom: 10px;
    list-style-type: none;
    display: inline-block;
}

.intro {
    max-width: 700px;
    margin: auto;
    padding: 15px;
}

.bookSearch {
    border-radius: 3px;
    max-width: 500px;
    margin: 0px auto 10px;
    padding: 15px;
    line-height: 2;
}

#library,
#bookstore {
    display: inline-block;
    margin-left: 10px;
}

.bookResults,
.mapResults {
    display: none;
    vertical-align: top;
    margin: 20px auto;
}

.bookResults {
    max-width: 900px;
    text-align: left;
}

.teaser {
    height: 150px;
    padding: 5px;
    overflow-x: auto;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 10px;
}

.bookTitle {
    display: inline-block;
    width: 45%;
    margin: 5px 15px;
}

.moreInfoLink {
    font-family: 'Trirong', serif;
    font-weight: bold;
}

.mapResults {
    max-width: 600px;
    height: 400px;
    text-align: center;
}

.map {
    width: 600px;
}

#map {
    height: 100%;
}

#infoWindow {
    color: #5a5c51;
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    font-size: 14px;
    padding: 15px 0;
}

footer li {
    display: inline-block;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (max-width: 900px) {

    body {
        margin: auto;
    }

    .bookResults,
    .mapResults {
        width: inherit;
        display: block;
        text-align: center;
        vertical-align: top;
        margin-top: 20px;
    }

    .bookTitle {
        width: auto;
    }


}
